<div class="row-fluid">
			<div class="span9">
				<div class="row-fluid">
			 		<div class="span4">
	                    <div class="numberinfo numberinfo-visitor-count"><span><%= @all_visitors.length %></span></div>
	                    <div class="titleinfo">
	                      <h4>Visitor Count</h4>
	                    </div>
                    </div>
                    <% group_count = @all_visitors.group_by{ |item| item.send('visitor_mobile_number')} %>
	                <div class="span4">
	                    <div class="numberinfo numberinfo-unique-visitor-count"><span><%= group_count.length %></span></div>
	                    <div class="titleinfo">
	                      <h4>Unique visitor count</h4>
	                    </div>
	                </div>
	                <%
	                	#twelve_ago = Time.now - 12.hours
	                 	#expired = @all_visitors.select { |visitor| ((visitor.check_out_time.nil? && (visitor.created_at > twelve_ago)) || (!visitor.check_out_time.nil? && (visitor.created_at > twelve_ago)) )}
	                 	 
                    %>
	                <div class="span4">
	                    <div class="numberinfo numberinfo-expired-badges"><span><%= @expired.length %></span></div>
	                    <div class="titleinfo">
	                      <h4>Expired badges</h4>
	                    </div>
	                </div>
				</div>
			</div>
			<div class="span3">
				<div class="tablemost">
					<h4>Frequent Visitor</h4>
					<ul class="nav nav-tabs nav-stacked">
						<% 
							i = 0
							@most_visitors.each do |visitor|
								i += 1
						%>
						<li>
						<a href="#" class="name"><%= visitor.visitor_name %><span class="counter"><%= visitor.num_visitors %></span></a></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>