<div class="page-header">
  <h1><%=t '.title', :default => 'Dashboard' %></h1>
</div>
<div class="container">
	<div id="options" class="options">
		<div id="option-control">
			<%= form_tag dashboard_option_view_path, {:id => "frm_view_option"} do %>
			<%= label_tag "View options" %>
			<%= select_tag('option_view' , options_for_select(["daily", "weekly", "monthly", "yearly"], @view_option), :onchange => ("$('#frm_view_option').submit()")) %>
			<% end %>
		</div>
		<div class="results" id="dashboard-results">
			<%= render :partial => 'visitors/visitors_list', :locals => {:ajax => false} %>
		</div>
	</div>
	<hr />
	<div class="summary">
		<h3>Summary</h3>
		<table class="table table-striped">
			<tr>
				<th>No of visitors</th>
				<th>No of unique visitors</th>
				<th>Expired passes</th>
			</tr>
			<tr>
				<td><%= @all_visitors.length %></td>
				<% group_count = @all_visitors.group_by{ |item| item.send('pass_id')} %>
				<td><%= group_count.length %></td>
				<% expired = @all_visitors.select { |visitor| ((visitor.check_out_time.nil? && ((Time.now - visitor.created_at) > (12 * 3600))) || (!visitor.check_out_time.nil? && (visitor.check_out_time - visitor.created_at > (12 * 3600))) )} %>
				<td><%= expired.length %></td>
			</tr>
		</table>
	</div>
</div>
