<%= stylesheet_link_tag    "Adelle/font", :media => "all" %>
<%= stylesheet_link_tag    "dashboard", :media => "all" %>
<%= stylesheet_link_tag "jqueryui/css/sunny/jquery-ui-1.10.2.custom.min", :media => "all" %>

<%= javascript_include_tag "action" %>
<%= javascript_include_tag "jqueryui/js/jquery-ui-1.10.2.custom.min" %>


	<br/><br/>

<div class="row">

	<div class="span12 offset3">



	<form class="form-inline">

			<select class="span2">
			<option>Today</option>
			<option>Week</option>
			<option>Month</option>
			<option>Year</option>
			<option>Custom</option>

			</select>
			
			<div id="datetimepicker" class="input-append date">
      			<input type="text"></input>
     			 <span class="add-on">
       			 <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      			</span>
   			 </div>
	


			<div id="datetimepicker" class="input-append date">
      			<input type="text"></input>
     			 <span class="add-on">
       			 <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      			</span>
   			 </div>

		<button type="submit" class="btn btn-medium btn-success"> Submit</button>

		
	</form>

	</div>


	
</div>

<div class="row">
	<div class="span12 offset2">



    	<table class="table table-hover table-condensed table-bordered">
   
   	 <thead>
   	 <tr>

	 <th>Visitor Count</th>
   	 <th>Unique visitor count</th>
	 <th>Passes expired</th>
	 
	<th>Export</th>
    	</tr>
    	</thead>
    	<tbody>
    	<tr>
    
   	 <td><%= @visitors_count %></td>
   	 <td><%= @unique_visitors_count %></td>
	 <td><%= @expired_visitors_count %></td>
	<td>Excel, PDF</td>
	
    	</tr>
    	</tbody>
    	</table>

	</div>


</div>


<div class="row">

	<div class="span6 offset2">

	<div class="well">
	<table class="table table-hover table-condensed table-bordered">
   
   	 <thead>
   	 <tr>
	 <caption> <strong>Frequent Visitor </strong> </caption>
	 <th>Vistor Name</th>
   	 <th>Mobile number</th>
	 <th>Count</th>
	 <th>Action</th>
    	</tr>
    	</thead>
    	<tbody>
    	
    
    <% 
							i = 0
							@most_visitors.each do |visitor|
								i += 1
						%>
	<tr>					
   	 <td><%= visitor.visitor_name %></td>
   	 <td><%= visitor.visitor_mobile_number %></td>
	 <td><%= visitor.num_visitors %></td>
	<td>Create Pass</td>
	 </tr>
	<% end %>
   	
   	 </tbody>
    	</table>
	</div>
	</div>

<div class="span5 offset1">
	<div class="well">
	<table class="table table-hover table-condensed table-bordered">
   
   	 <thead>
    	<tr>
	<caption><strong> Most Visited</strong> </caption>
	 <th>Name</th>
  	 <th>Count</th>
	 </tr>
    	</thead>
    	<tbody>
    	
    
   	 <% @most_visitors.each do |visitor| %>
   	 <tr>
	   	 <td><%= visitor.visitor_name %></td>
	   	
		 <td><%= visitor.num_visitors %></td>
	</tr>
	 <% end %>


	
   	 </tr>
    	</tbody>
    	</table>

</div>

</div>

<%= javascript_tag do %>
	(function($) {
		jQuery(document).ready(function() {
			jQuery('.filterselectebox .dropdown-menu a').click(function() {
				jQuery('.filterselectebox .dropdown-toggle').dropdown('toggle');
			});
			$('.export-button').click(function(event) {
				event.preventDefault();
				if($('.active').text() == "XLS") {
					window.location = '<%= dashboard_option_view_path(:format => :xls) %>';
				}
				else if ($('.active').text() == "PDF") {
					window.location = '<%= dashboard_option_view_path(:format => :pdf) %>';
				}
			});
		});

	})(jQuery);
<% end %>