<%= stylesheet_link_tag    "Adelle/font", :media => "all" %>
<%= stylesheet_link_tag    "dashboard", :media => "all" %>
<%= stylesheet_link_tag "jqueryui/css/sunny/jquery-ui-1.10.2.custom.min", :media => "all" %>

<%= javascript_include_tag "action" %>
<%= javascript_include_tag "jqueryui/js/jquery-ui-1.10.2.custom.min" %>

<div class="pagerbg dashboardpage">
	
	<div class="filterbar clearfix">
		<div class="row-fluid">
			<div class="span9">
				<%= form_tag dashboard_option_view_path, {:id => "view_mode_frm", :remote => true} do %>
				<div class="kind pull-left">
					<div class="btn-group filterselectebox">
						<a href="#" class="btn view_option current">Daily</a>
						<a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
						  <li><a href="#" class="view_option">Daily</a></li>
	                      <li><a href="#" class="view_option">Weekly</a></li>
	                      <li><a href="#" class="view_option">Monthly</a></li>
	                      <li><a href="#" class="view_option">Year</a></li>
	                      <li><a href="#" class="view_option">Custom</a></li>
	                    </ul>
					</div>
					<%= hidden_field_tag :option_view, @view_option %>
				</div>
				<div class="calendar pull-left" style="display: none;", id="calendar_area">
					<%= text_field_tag :from, "", {:class => "From", :id => "From", :placeholder => "From"} %>
					<%= text_field_tag :to, "", {:class => "To", :id => "To", :placeholder => "To"} %>
				</div>
				<%= button_tag "Submit", :type => "submit", :class => "filter-submit btn btn-success", :id => "view_mode_sb", :style => "display:none;" %>
				<% end %>
			</div>
			<div class="span3"></div>
		</div>
	</div>
	<div class="contentvisitor" id="dashboard_content">
		<%= render "dashboard" %>
	</div>
		<!-- <table class="table">
								<thead>
									<tr class="justus-roman">
										<th class="choose"></th>
										<th>No of Visitor</th>
										<th>Unique visitor</th>
										<th>Passes expired</th>
										<th class="mostvisitedtd">Most Visited</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="choose">
											<div class="btn-group dash-tab">
												<button class="btn place">Action</button>
												<button class="btn dropdown-toggle" data-toggle="dropdown">
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#today" class="dash-filter" rel="today">Today</a></li>
													<li><a href="#this-week" class="dash-filter" rel="week">This Week</a></li>
													<li><a href="#this-month" class="dash-filter" rel="month">This Month</a></li>
													<li><a href="#this-year" class="dash-filter" rel="Year">This Year</a></li>
													<li><a href="#" class="dash-filter" rel="range">Custom Range</a></li>
												</ul>
											</div>
										</td>
										<td>
											<div class="dash-num">
												<span class="num justus-roman">
													<%= @all_visitors.length %>
												</span>
											</div>
										</td>
										<% group_count = @all_visitors.group_by{ |item| item.send('pass_id')} %>
										<td>
											<div class="dash-num green">
												<span class="num green justus-roman">
													<%= group_count.length %>
												</span>
											</div>
										</td>
										<% expired = @all_visitors.select { |visitor| ((visitor.check_out_time.nil? && ((Time.now - visitor.created_at) > (12 * 3600))) || (!visitor.check_out_time.nil? && (visitor.check_out_time - visitor.created_at > (12 * 3600))) )} %>
										<td>
											<div class="dash-num red">
												<span class="num red justus-roman">
													<%= expired.length %>
												</span>
											</div>
										</td>
										<td class="mostvisitedtd">
											
											<div class="mostvisited">
												
											</div>
										</td>
									</tr>
								</tbody>
							</table> -->
	</div>

 RUeta : make change filter select box
<script type="text/javascript">
	(function($) {
		jQuery(document).ready(function() {
			changenameselectbox();
			jQuery('.filterselectebox .dropdown-menu a').click(function() {
				jQuery('.filterselectebox .dropdown-toggle').dropdown('toggle');
			});
		});

	})(jQuery);
</script>
