
<table border>
        <tr>
        	<td style="width:40px"> 34Pass ID </td> 
                <td style="width: 100px;"> Name</td> 
        	<td> Mobile number</td> 
                <td> Company Name </td>
                <td> Check Out time </td>
                <td> HereToMeet</td>
                <td> Location </td>
                <td> Status </td>
                <td> Badge Nubmer </td>
        </tr>
        <% @all_visitors.each do |visitor| %>
        	<tr>
        		<td> <%= visitor.pass_id %> </td> 
                        <td> <%= visitor.visitor_name %> </td> 
        		<td> <%= visitor.visitor_mobile_number %> </td> 
                        <td> <%= visitor.visitor_company_name %> </td>
                        <td> <%= visitor.check_out_time %> </td> 
                        <td> <%= visitor.here_to_meet %> </td>
                        <td> <%= visitor.location %> </td>
                        <td> <%= visitor.status %> </td>
                        <td> <%= visitor.badge_number %> </td>
</tr>
        <% end %>
</table>