<script type="text/javascript">
	$(document).ready(function() {
		$('#bt-optional-field').click(function() {
			//$(this).hide();
			$('.optional-fields').show();
		});
	});
</script>
<%= form_for @visitor, :html => { :class => 'form-horizontal' } do |f| %>
<div class="twocol-bg-left pull-left">
	<div class="twocol-bg-left-ext">
		<div class="twocol-bg-left-ext-col">
			<div id="newvisitor">
				
				<!-- <h2 class="newvisitor-title cham-regular">New Visitor</h2> -->
				  <% if @visitor.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this apt from being saved:</h2>
				
				      <ul>
				      <% @visitor.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
				  <div class="newvisitor-body">
				  	<div class="newvisitor-row row-fluid">
				  		<%= f.text_field :visitor_name, :class => 'span12 textbox-big input-large input-text justus-roman', :placeholder => "Visitor Name" %>
					</div>
					<div class="newvisitor-row row-fluid">
				  		<%= f.text_field :visitor_company_name, :class => 'span12 textbox-big input-large input-text justus-roman', :placeholder => "From Organization" %>
					</div>
					<div class="newvisitor-row row-fluid">
				  		<%= f.text_field :visitor_mobile_number, :class => 'span12 textbox-big input-large input-text justus-roman', :placeholder => "Visitor mobile number" %>
					</div>
					<div class="newvisitor-row row-fluid">
				  		<%= f.text_field :reason_to_visit, :class => 'span12 textbox-big input-large input-text justus-roman', :placeholder => "Reason to visit" %>
					</div>
					<div class="newvisitor-row row-fluid">
				  		<%= f.text_field :here_to_meet, :class => 'span12 textbox-big input-large input-text justus-roman', :placeholder => "Here to meet" %>
					</div>
					<div class="visitor-opt">
						<a href="#" class="visitor-opt-bt lucida-sans export btn btn-mini">More Details</a>
					</div>
					
				  </div>
			  </div>
			  
		  </div>
	  </div>
  </div>
  
  <div class="twocol-bg-right pull-right">
	<div class="twocol-bg-right-ext">
		<div class="twocol-bg-right-ext-col">

			<div id="dailycounter">
				<span>Daily visitor Count: <strong><%= @daily_visitors %> <%= @daily_visitors > 1 ? 'peoples' : '' %></strong></span>
			</div>

			<div class="wellcome">
				<h2 class="cham-regular">Help with this page</h2>
				<ul class="arial">
					<li>Please fill information of visitor into New Visitor form.</li>
					<li>With advance visitor need more optional, please click on Optional information link.</li>
				</ul>
			</div>

			<div class="more-detail" style="opacity: 0;">
				<h4 class="more-detail-title cham-regular">More Detail</h4>
				<div class="cap-picture">
					<small>Upload image for visitor</small>
					<div class="avatar">
						<%= image_tag "checkin-pic.png" %>
					</div>
					
				      <div id="webcam"></div>
						<script type="text/javascript">
						   function onload_complete(msg) {
						        // fetch the CSRF meta tag data
						        var csrf_param = $('meta[name=csrf-param]').attr('content');
						        var csrf_token = $('meta[name=csrf-token]').attr('content');
								
						        // reset the api URL appending the auth token parameter
						        webcam.set_api_url('<%= upload_photos_path %>' + '?' + csrf_param + "=" + encodeURI(encodeURI(csrf_token)));
						    }
						
						    function upload_complete(msg) {
						        if (msg == 'ok') {
						            $('#new_photo').show();
						            $('#visitor_location').focus();
						        } else {
						            alert('An error occured');
						            webcam.reset();
						        }
						    }
						
						    webcam.set_swf_url('/webcam.swf');
						    webcam.set_api_url('<%= upload_photos_path %>');
						    webcam.set_quality(90);
						    webcam.set_shutter_sound(true, '/shutter.mp3');
						    webcam.set_hook('onLoad', 'onload_complete');
						    webcam.set_hook('onComplete', 'upload_complete');
						    $('#webcam').html(webcam.get_html(400, 300));
						    
						</script>
						<input type="button" value="Capture Picture" class="btn" onclick="webcam.snap();"/>
						
				   
				</div>

				<div class="more-info row-fluid">
					<%= f.text_field :location, :class => 'input-text textbox-big2 span12', :placeholder => "Location" %>
					<%= f.text_field :visitor_vehicle_number, :class => 'input-text textbox-big2 span12', :placeholder => "Visitor vehicle number" %>
					<%= f.text_field :storage_device_detail, :class => 'input-text textbox-big2 span12', :placeholder => "Storage device detail" %>
					<%= f.text_field :authorized_id, :class => 'input-text textbox-big2 span12', :placeholder => "Authorized identity Card number" %>
					<!-- <input type="text" class="input-text textbox-big2 span12" placeholder="My visitor ID"/> -->
					<%= f.text_area :comment, :class => 'text_area large-input', :rows => 7, :cols => 60, :placeholder => "Comment" %>
					<!-- <input type="text" class="input-text textbox-big2 span12" placeholder="Comment"/> -->
				</div>
			</div>

		</div>
	</div>
</div>
	<%= f.submit nil, :class => 'btn btn-large btn-success newvisitor-bt' %>
	<input type="button" value="Print" class="btn btn-large newvisitor-bt">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                visitors_path, :class => 'btn btn-large newvisitor-bt' %>
<% end %>
  
