<script type="text/javascript">
	$(document).ready(function() {
		alert('test');
		$('#bt-optional-field').click(function() {
			//$(this).hide();
			$('.optional-fields').show();
		});
		
		$('#visitor_visitor_mobile_number').focusout(function() {
			var visitor_phone = $(this).val();
			$.getJSON('<%= visitor_get_by_phone_path %>', {"visitor_mobile_number" : visitor_phone}, function(data) {
				var existed = data.existed;
				if(existed == 1) {
					var visitor = data.visitor
					$('#visitor_visitor_name').val(visitor.visitor_name);
					$('#visitor_visitor_company_name').val(visitor.visitor_company_name);
					//$('#visitor_badge_number').val(visitor.badge_number);
					$('#visitor_authorized_id').val(visitor.authorized_id);
					$('#visitor_here_to_meet').focus();
					
					if(visitor.photo_file_name != null) {
					//	var html = '<img src="/assets/visitors/'+ visitor.id +'/small/' + visitor.photo_file_name +'" alt="visitor image" />';
						var html = '<img src=' + data.visitor_photo + ' />';
						$('#curr_image').html(html);
						$('#curr_image').show();
						$('#webcam').hide();
						$('#bt_capture').hide();
						$('#bt_re_capture').show();
					}
				}
			});
		});

		$('#bt_capture').click(function() {
			webcam.snap();
			$('#bt_capture').attr("disabled", "disabled");
			$('#bt_capture').hide();
			$('#bt_re_capture').show();
		});
		
		$('#bt_re_capture').click(function() {
			$('#curr_image').hide();
			$('#bt_re_capture').hide();
			$('#webcam').show();
			$('#bt_capture').show(1, function() {
				$('#bt_capture').prop('disabled', false);
				webcam.reset();
			});
			//jQuery.fx.off = false;
		});

		
			
		
		$('#bt-save-print').click(function() {
			alert('test');
			console.log("test print");
			$('#new_visitor').attr("action", "<%= save_print_path %>");
			console.log("<%= save_print_path %>");
			//alert($('#new_visitor').attr("action"));
			//$('#new_visitor').submit();
			$('form#new_visitor').trigger('submit.rails');
		});
		
		$('.badge-search-btn').click(function(event) {
			//event.preventDefault();
			//$('.modal-body').append('a');
			
			value = $('#here_to_meet').val();
			$('#heretomeet-table > tbody').html('<div class="alert alert-error">No results found</div>');
			if(value) {
				$.ajax({
					type: 'GET',
					url: '/here_to_meet/show/' + value,
					success: function(data) {
						$('#heretomeet-table > tbody').html('');
						$.each(data, function(i, val) {
							$('#heretomeet-table > tbody').append("<tr>");
							$('#heretomeet-table > tbody').append("<td><a href='#' class='table-name'>" + val.name + 
								"</a></td>");
							$('#heretomeet-table > tbody').append("<td class='table-email'>" + val.email + 
								"</td><br>");
							$('#heretomeet-table > tbody').append("<td class='table-phone'>" + val.mobile_number + "</td><br>");
							$('#heretomeet-table > tbody').append("</tr>");
						});
					}
				});	
			}	
		});

		$(document).on('click', 'a.table-name', function(event) {

			event.preventDefault();
			//$('#visitor_visitor_name').val($(this).html());
			$('#here_to_meet').val($(this).html());
			//$('#visitor_visitor_mobile_number').val($(this).closest('td').next().next().html());
			$('#searchBadgeModal').hide();
			$('.modal-backdrop').remove();
			$('.modal').removeClass('in');
			$('.modal').attr('aria-hidden', 'true');	
		});	
		
	});
</script>
<div class="well">
<div class="row">

 <div class="form-inline offset4">
<%= form_tag visitor_checkout_path, :name => "checkoutform" do %>
     			<%= text_field_tag 'pass_id', '', :class => 'span3', :placeholder => "Enter 34pass ID" %>		
				<label>  Or </label>
    			<%= text_field_tag 'badge_number', '', :class => 'span3', :placeholder => "Enter badge/pass number" %>
				<button type="submit" class="btn btn-medium btn-danger"><i class="icon-minus-sign icon-white"> </i> Checkout</button>
 <% end %>
</div>
</div>
</div>


<!-- new visitor form goes here -->

<div class="span12 offset3">
	<div style="max-width:680px; margin-left:20px">
		<%= render 'layouts/flash_messages'%>
	</div>
</div>


<div class="row">
	<%= form_for @visitor, :html => {:name => "checkinform" } do |f| %>
	<div class="span6">		
    	<div class="form-horizontal offset1">
    	
	
		<div class="control-group">
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">*</span>
					<%= f.text_field :visitor_mobile_number, :class => 'span4', :placeholder => "Mobile number" %>
					</div>	
			</div>
		</div>


		<div class="control-group">
		<div class="controls">
			<div class="input-prepend">
				<span class="add-on">*</span>
                <%= f.text_field :visitor_name, {:class => "span4", :placeholder => "Visitor name"} %>  
         	</div>	
		</div>
	</div>


		<div class="control-group">
		<div class="controls">
			<div class="input-prepend">
				<span class="add-on">*</span>
            	<%= f.text_field :visitor_company_name, {:class => "span4", :placeholder => "Visitor Organisation"} %>
            </div>	
		</div>
	</div>


	<div class="control-group">
		<div class="controls input-append input-prepend" style="margin-left:180px;">
    			<span class="add-on">*</span>
              	<%= f.text_field :here_to_meet, {:id => "here_to_meet", :class => "span3", :placeholder => "Here to meet"} %>
              	<button type="button" href="#searchBadgeModal" class="btn badge-search-btn" data-toggle="modal">Search</button>
        </div>   
    </div>



		<div class="control-group">
		<div class="controls">
		<input type="text" id="inputEmail" placeholder="Visitor type" class="span4">
    			
		</div>
		</div>
		
		<% if false %>
            <label>
            	<%= f.text_field :reason_to_visit, {:class => "input-block-level", :placeholder => "Purpose of visit"} %>
              
            </label>
	<% end %>
		
		<div class="control-group">
		<div class="controls">
    		<div class="input-prepend input-append">
            	<%= f.text_field :location, {:class => "span4", :placeholder => "Location to visit"} %>
   			</div>
        </div>
    </div>

	<div class="control-group">
		<div class="controls">
    		<div class="input-prepend input-append">
		    	<%= f.text_field :storage_device_detail, {:class => "span4", :placeholder => "Storage device details"} %>
			</div>
        </div>
    </div>
		
		
 		</div>
	</div>

  <div class="span6" style="max-width:360px; margin-left:200px; overflow:visible;">
		 <div class="">
		
		
		<div class="control-group">
				<div class="controls">
            	<%= f.text_field :badge_number, {:id => "badge-number",
            		:class => "span4", :placeholder => "Badge/Pass number" } %>
            	</div>
           	</div>

		<div class="control-group">
				<div class="controls">
		    	<%= f.text_field :authorized_id, {:class => "span4", :placeholder => "Govt. provided Authorized identity number"} %>
			</div>
		</div>

		<br/>
	
		<div class="control-group">
				<div class="controls avatarinput capturebt">	  
	            					<div id="curr_image"></div>
		              				<div id="webcam"></div>
		              	<div style="margin-top:5px;">	
				            <button type="button" class="capture btn btn-medium btn-success pull-right" id="bt_capture" style="margin-top:-120px;
				            margin-right:0px;">
				            	<i class="icon-camera icon-white"></i>
				            	Capture
				            </button>

				            <button type="button" class="capture btn btn-medium btn-success pull-right" id="bt_re_capture" style="display: none; margin-top:-120px;
				            margin-right:0px;" />
				            	<i class="icon-camera icon-white"></i>
				            	Recapture
				            </button>
			            </div>	

			           
          		</div>
          	</div>
				
          	<div class="control-group">
				<div class="controls">
					<%= f.submit "Check-in", :class => 'save btn btn-medium btn-success', :id => 'btn-save'  %>

		            <%= f.button "Check-in + Print", :class => "btn btn-medium btn-success", :type => "button", :id => "bt-save-print" %>

		            <%= link_to t('Reset', :default => t("Reset")),
		            	new_visitor_path, :class => 'btn btn-medium btn-primary' %>
	            </div>
	        </div>
		</div>

		<% end %>
	</div>

<div class="span3 offset1" style="margin-left:15px;">
		
		<div class="well">
		<label> Search current list of visitors inside your premises </label>
		<a href="search" type="submit" class="btn btn-medium btn-success"> <i class="icon-search icon-white"> </i> Current visitor list </a>

		</div>
	</div>

</div>


<div class="modal hide fade" id="searchBadgeModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Here to Meet</h3>
  </div>
  <div class="modal-body">
  	<table class="table table-striped" id="heretomeet-table">
  		<thead> 
  			<tr> <td> Name </td> <td> Email </td> <td> Mobile number </td></tr>
  		</thead>
  		<tbody>
  		</tbody>
  	</table>
  </div>
</div>


<script type="text/javascript">	
		$('#btn-save').click(function(e) {
			e.preventDefault();
			if ($('#badge-number').val() == '') {
				$('.notification').append('<div class="alert alert-error">Badge number can`t be blank.</div>')
				$('.control-group').addClass('error');
			}
			else {
				$('form').submit();
			}
		});
	   function onload_complete(msg) {
	        // fetch the CSRF meta tag data
	        var csrf_param = $('meta[name=csrf-param]').attr('content');
	        var csrf_token = $('meta[name=csrf-token]').attr('content');
	        //alert(csrf_param + ", " + csrf_token);
	        
	        // reset the api URL appending the auth token parameter
	        webcam.set_api_url('<%= upload_photos_path %>' + '?' + csrf_param + "=" + encodeURI(encodeURI(csrf_token)));
	    }
	
	    function upload_complete(msg) {
	    	
	        if (msg == 'ok') {
	            $('#new_photo').show();
	            $('#visitor_visitor_vehicle_number').focus();
	        } else {
	            alert('An error occured');
	            webcam.reset();
	        }
	    }
	
	    webcam.set_swf_url('/webcam.swf');
	    //webcam.configure('camera');
	    //webcam.set_stealth(true)
	    webcam.set_api_url('<%= upload_photos_path %>');
	    webcam.set_quality(90);
	    webcam.set_shutter_sound(true, '/shutter.mp3');
	    webcam.set_hook('onLoad', 'onload_complete');
	    webcam.set_hook('onComplete', 'upload_complete');
	    $('#webcam').html(webcam.get_html(250, 200));
	    
</script>
  
