<%- model_class = Visitor -%>
<script type="text/javascript">
	$(document).ready(function() {
		$('.frm-checkout').bind('ajax:success', function(evt, data, status, xhr) {
			var success = data.success;
			var visitor_id = data.id;
			var message = data.message
			if(success == 1) {
				alert('success');
				var parent = $('#form-' + visitor_id).parent('td');
				$('#form-' + visitor_id).remove();
				$(parent).text('Checked out');
				$('#checkout-notification').text(message).removeClass('invalid').addClass('valid').fadeIn(300).delay(2000).fadeOut(300)
			} else {
				$('#checkout-notification').text(message).removeClass('valid').addClass('invalid').fadeIn(300).delay(2000).fadeOut(300)
			}
		});
	});
</script>

<div id="result-table">
	<div class="shadow-top"></div>

	<div class="wrap-content">

		<hr class="divider"/>
		<table class="table table-condensed table-bordered table-hover visitor-content">
			<thead>
				<tr class="justus-oldstyle">
					<th>No</th>
					<th>Pass ID</th>
					<!-- <th>My Pass ID</th> -->
					<th>Visitor name</th>
					<th>Company</th>
					<th>Mobile</th>
					<th>Check In</th>
					<th>Photo</th>
					<th>Here to meet</th>
					<th>Checkout</th>
					<% if params[:controller] == 'visitors' %>
				      <th><%=t '.actions', :default => t("helpers.actions") %></th>
			        <% end %>
				</tr>
			</thead>
			<tbody class="lucida-sans">
				<% i = 1%>
				<% @visitors.each do |visitor| %>
				<tr>
					<td><%= !params[:page].nil? ? (params[:page].to_i - 1) * 5  + i : i %></td>
					<td><%= link_to visitor.pass_id, visitor_path(visitor) %></td>
			        <td><%= link_to visitor.visitor_name, visitor_path(visitor) %></td>
			       <td><%= visitor.visitor_company_name %></td>
			        <td><%= visitor.visitor_mobile_number %></td>
			        <!-- <td><%= visitor.reason_to_visit %></td> -->
			        <td><%=l visitor.created_at %></td>
			        <td><%= image_tag visitor.photo.url(:small) %></td>
			        <td><%= visitor.here_to_meet %></td>
			        <!-- <td><%= visitor.visitor_vehicle_number %></td> -->
			        <!-- <td><%= visitor.storage_device_detail %></td> -->
			        <!-- <td><%= visitor.authorized_id %></td>
			        <td><%= visitor.comment %></td> -->
			        
			        <!-- <td><%= visitor.pass_id %></td> -->
			        <td>
			        	<%
			        	if visitor.check_out_time.nil? %>
					        <%= form_tag visitor_checkout_path, {:remote => true, :class => 'frm-checkout', :id => 'form-' + visitor.id.to_s } do %>
					        <%= hidden_field_tag 'pass_id', visitor.pass_id %>
					        <%= submit_tag 'Checkout', :class => 'frm-checkout btn btn-primary'  %>
					        <% end %>
			        	<% else %>
			        	Checked out
			        	<% end %>
			        	
			        </td>
			        <% if params[:controller] == 'visitors' %>
			        <td>
			        <% if !ajax %>
			          <%= link_to t('.edit', :default => t("helpers.links.edit")),
			                      edit_visitor_path(visitor), :class => 'btn btn-mini' %>
			          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			                      visitor_path(visitor),
			                      :method => :delete,
			                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			                      :class => 'btn btn-mini btn-danger' %>
			        	
			        <% end %>              
			        </td>
			        <% end %>
				</tr>
				<% i+= 1 %>
				<% end %>
			</tbody>
			<tfoot>
			    <tr>
			    	<td colspan="11" style="text-align: right; height: 5px;"><%= will_paginate @visitors %></td>
			    </tr>
		    </tfoot>
		</table>

	</div>

</div>

