<%- model_class = Visitor -%>
<div>
	<div class="page-header">
	  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
	</div>
	<div class="control">
		<div class="search">
			<%= render :partial => 'search_form', :locals =>{:ajax => false} %>
			
		</div>
		
		<!-- <div class="twelve-link">
			<%= link_to '12+', twelve_plus_path, :class => 'btn btn-info' %>
		</div> -->
		<div class="clear"></div>
	</div>
	<div>
		<div class="content-left-panel">
			<div class="customer_icon_asset customers_nav">
				
			</div>
			<div style="margin-top:-30px; margin-left: 10px;">
				<%= link_to content_tag(:span, 'New Visitor'), new_visitor_path %>
			</div>
			
			<div class="visitor_checkout_icon">
			</div>
			
			<div style="margin-top:0px; margin-left: 10px;">
				<%= link_to content_tag(:span, 'Visitor checkout'), visitor_checkout_path %>
			</div>
			
			<div class="twelve_icon"></div>
			<div style="margin-top:0px; margin-left: 10px; margin-left:40px;">
				<%= link_to content_tag(:span, '12+'), twelve_plus_path %>
			</div>
			
		</div>
		
		<div class="content-right-panel">
			<%= render :partial => 'visitors_list', :locals =>{:ajax => false} %>
		</div>
		
		<div class="clear"></div>
		
	</div>
	
	
</div>
