<%- model_class = Visitor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div class="search">
	<%= render :partial => 'search_form', :locals =>{:ajax => false} %>
	
</div>

<div class="twelve-link">
	<%= link_to '12+', twelve_plus_path, :class => 'btn btn-info' %>
</div>

<%= render :partial => 'visitors_list', :locals =>{:ajax => false} %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_visitor_path,
            :class => 'btn btn-primary' %>
