<div class="twocol-bg">
	<div class="twocol-bg-wrap">
		<div class="twocol-bg-left pull-left">
			<div class="twocol-bg-left-ext">
				<div class="twocol-bg-left-ext-col">
					<div id="newvisitor">
						
						<h2 class="newvisitor-title cham-regular"><%= @visitor.visitor_name %></h2>
						  
						  <div class="newvisitor-body">
						  	<div class="newvisitor-row row-fluid">
						  		<b>Pass ID: </b>
						  		<%= @visitor.pass_id %>
							</div>
						  	<div class="newvisitor-row row-fluid">
						  		<b>Visitor name: </b>
						  		<%= @visitor.visitor_name %>
							</div>
							<div class="newvisitor-row row-fluid">
								<b>From organization: </b>
								<%= @visitor.visitor_company_name %>
							</div>
							<div class="newvisitor-row row-fluid">
								<b>Visitor mobile number: </b>
								<%= @visitor.visitor_mobile_number %>
							</div>
							<div class="newvisitor-row row-fluid">
								<b>Reason to visit: </b>
								<%= @visitor.reason_to_visit %>
							</div>
							<div class="newvisitor-row row-fluid">
								<b>Here to meet: </b>
								<%= @visitor.here_to_meet %>
							</div>
							
						  </div>
					  </div>
					  
				  </div>
			  </div>
		  </div>
		  
		  <div class="twocol-bg-right pull-right">
			<div class="twocol-bg-right-ext">
				<div class="twocol-bg-right-ext-col">
		
					<div id="dailycounter">
						<span>Daily visitor Count: <strong>194 peoples</strong></span>
					</div>
		
					<div class="more-detail" style="opacity: 1; display: block;">
						<h4 class="more-detail-title cham-regular">More Detail</h4>
						<div class="cap-picture">
							<div class="avatar">
								<%= image_tag @visitor.photo.url() %>
							</div>
							
						</div>
		
						<div class="more-info row-fluid">
							<b>Location: </b>
							<%= @visitor.location %> <br/>
							<b>Visitor vehicle number: </b>
							<%= @visitor.visitor_vehicle_number %><br/>
							<b>Storage device detail: </b>
							<%= @visitor.storage_device_detail %><br/>
							<b>Authorized ID: </b>
							<%= @visitor.authorized_id %><br/>
							<b>Comment: </b>
							<%= @visitor.comment %>
							<!-- <input type="text" class="input-text textbox-big2 span12" placeholder="My visitor ID"/> -->
							
							<!-- <input type="text" class="input-text textbox-big2 span12" placeholder="Comment"/> -->
						</div>
					</div>
		
				</div>
			</div>
		</div>
		
		
		<div class="form-actions">
		  <%= link_to t('.back', :default => t("helpers.links.back")),
		              visitors_path, :class => 'btn'  %>
		  <%= link_to t('.edit', :default => t("helpers.links.edit")),
		              edit_visitor_path(@visitor), :class => 'btn' %>
		</div>
	</div>
</div>
