	<div class="canvas-body">
		<div class="custom-container">
			<div class="notification">
				<!-- <div class="alert alert-error">
					You need to sign in or sign up before continuing.
				</div> -->
				<!-- <div class="alert alert-success">It looks like you already have an account</div>
				<div class="alert alert-error mobile">Oops! please enter your email id</div> -->
			</div>
			
			<div class= "row-fluid">
				<span class="span5">
					<div id="register" class="formbox">

						<h1 class="headtext green-color text-left">
							60 days are on us 
							<%= image_tag "icon-gift-box.png" %>
						</h1>
						
						<h3 class="semi-headtext">Register in few seconds</h3>

						<%= render :partial => 'devise/registrations/new' %>

					</div>
				</span>
				<span class="span1 breakvertical"></span>
				<span class="span6 demoimg">
					<%= image_tag "demoimg.png", :alt => "Visitor Pass" %>
				</span>
			</div>
			<div class= "row-fluid">
				<div class = "span3">
				</div>
				<div class = "span5">
					<div class="well text-center pricecompo">
						<div class="priceinner">
							<h2><a href="http://ch.eckout.com/34pass1" class="alert">$20 per month</a></h2>
							<br/>
							<p><strong>Unlimited visitors per location</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- new  -->
		
		<div class="row-fluid headerline2 text-center">
			<div class="shadow1">
				<%= image_tag "shadow1.png" %>
			</div>
			<div class="row-fluid">
			<div class="ont">
				<h3>Replace manual register with web enabled online visitor management system</h3>
			</div>
			</div>
			<div class="shadow2">
				<%= image_tag "shadow2.png" %>
			</div>
		</div>

		<div>
		<div class="bodyline2 container">
			<div class="row-fluid">
			<span class="span12">
				<ul class="unstyled tagline2">
					<li class="pull-left">
						<span>
							<%= image_tag "icon-1-mani.png" %>
						</span>
						<span> <h4> Search visitors instantly </h4></span>
					</li>
					<li class="pull-left">
						<span>
							<%= image_tag "icon-1-plus.png" %>
						</span>
						<span> <h4> Create visitor pass instantly </h4></span>
					</li>
					<li class="pull-left">
						<span>
							<%= image_tag "icon-1-plane.png" %>
						</span>
						<span> <h4> View list of passes that are expired </h4></span>
					</li>
					<!-- <li class="pull-left">
						<span>
							<%= image_tag "icon-1-plus.png" %>
						</span>
						<span> <h4> Instant visitor check-outs </h4></span>
					</li> -->
					<li class="pull-left">
						<span>
							<%= image_tag "icon-1-camera.png" %>
						</span>
						<span> <h4> View statistics of visitors in one click </h4></span>
					</li>
					<li class="pull-left">
						<span>
							<%= image_tag "icon-1-eye.png" %>
						</span>
						<span><h4> Import list of employees with ease </h4></span>
					</li>
				
					<li class="pull-left">
						<span>
							<%= image_tag "icon-1-print.png" %>
						</span>
						<span> <h4> Export your data in excel or pdf</h4></span>
					</li>
					
				</ul>
			</span>
			</div>
			<div class = "row-fluid">
				<br>
				<span class = "span2">
				</span>
				<span class = "span8 text-right-side">
				<h4> Want us to sign a NDA, send it to support@16columns.com </h4>
				</span>
			</div>
		</div>
		</div>

	</div>

</div>
