<script type="text/javascript">
	$(document).ready(function() {
		var organisation_name = $("input#user_organisation_name").val();
		$('#change_organisation_name').click(function() {
			if($(this).is(":checked")) {
				$("input#user_organisation_name").val("");
				$("input#user_organisation_name").focus();
			} else {
				$("input#user_organisation_name").val(organisation_name);
			}
		});
		
		$('#change_password').click(function() {
			if($(this).is(":checked")) {
				$("input#user_current_password").focus();
			} 
		});
	})
</script>
<div class="pagerbg accountpage">
	<div class="row-fluid">
		<div class="span16">
			<div class="accountpanel">
				<div class="row-fluid">
					<%= form_for current_user, :url => update_organisation_path, :class => 'form-horizontal'  do |f| %>
					<div class="accountfield row-fluid">
	                    <div class="span4 text-right">
	                    <%= label_tag 'Edit organization name' %>
	                    </div>
	                    <div class="span4">
	                    	<%= f.text_field :organisation_name, {:class => "input-block-level", :placeholder => "Enter new organization name", :style => "line-hight:20px; font-size:17px; height:48px;" } %>
	                    </div>
	                     <div class="span2">
	                    	<input type="submit" value="Save" class="btn btn-large btn-success span8" style="width:100px">
	              		</div>
                    </div>
                    <% end %>
                    <%= form_for current_user, :url => update_location_path, :class => 'form-horizontal'  do |f| %>
					<div class="accountfield row-fluid">
	                    <div class="span4 text-right">
	                    <%= label_tag 'Edit location/zip'%>
	                    </div>
	                    <div class="span3">
	                    	<%= f.text_field :location, {:class => "input-block-level", :placeholder => "Enter new location name",
	                    		:style => "line-hight:20px; font-size:17px; height:48px;" } %>
	                    </div>
	                    <div class="span1">
	                    	<%= f.text_field :zip_code, {:class => "input-block-level", :placeholder => "Enter new zip code",
	                    		:style => "line-hight:20px; font-size:17px; height:48px;" } %>
	                    </div>
	                    <div class="span2">
	                    	<input type="submit" value="Save" class="btn btn-success  btn-large span8" style="width:100px">
	              		</div>
	              	</div>
	                </div>

                    <% end %>
                    <%= form_for current_user, :url => change_password_path, :method => 'put', :class => 'form-horizontal'  do |f| %>
                    <div class="accountfield row-fluid">
	                    <div class="span4 text-right">
	                    	<%= label_tag 'Generate new password'%>
	                    </div>
	                    <div class="span4">
	                    	<label style="line-hight:20px; font-size:17px;">
	                    	<%= f.password_field :current_password, :class => 'span12 textbox-big justus-roman', :placeholder => "Old password",
	                    		:style => "line-hight:20px; font-size:17px; height:48px;" %>
	                    	</label>
	                    </div>
	                </div>
	                <br>
	                <div class="accountfield row-fluid">
	                    <div class="span4 text-right">
	                    </div>
	                    <div class="span4">
	                    	<%= f.password_field :password, {:class => "input-block-level", :placeholder => "New password",
	                    		:style => "line-hight:20px; font-size:17px; height:48px;" } %>
	                    </div>
	                    <div class="span2">
	                    	<input type="submit" value="Generate" class="btn btn-success btn-large" style="width:100px">
	              		</div>
	                </div>
	                <% end %>
	                <%= form_tag excel_import_path, :url => me_update_path, :class => 'form-horizontal', :multipart => true  do  %>
	                <div class="accountfield row-fluid">
	                   <div class="span4 text-right">
	                    <%= label_tag 'Import "here to meet" list'%>
	                    <%= link_to 'Please use this template ONLY to import', 
	                                '34pass-heretomeet.xlsx' %>
	                    </div>
	                    <div class="span4">
	                    	<%= file_field_tag :excel_file, :class => "" %> 	
	                    </div>
	                     <div class="span2">
	                    	<input type="submit" value="Upload" class="btn btn-success span8 btn-large" style="width:100px">
	              		</div>
                    </div>
	                <% end %>
				</div>
				
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	label {
		height: 40px;
		line-height: 40px;
	}
</style>
