<script type="text/javascript">
	$(document).ready(function() {
		var organisation_name = $("input#user_organisation_name").val();
		$('#change_organisation_name').click(function() {
			if($(this).is(":checked")) {
				$("input#user_organisation_name").val("");
				$("input#user_organisation_name").focus();
			} else {
				$("input#user_organisation_name").val(organisation_name);
			}
		});
		
		$('#change_password').click(function() {
			if($(this).is(":checked")) {
				$("input#user_current_password").focus();
			} 
		});
	})
</script>

<br/><br/>

<div class="span12 offset1">
	<div style="max-width:620px; margin-left:60px">
		<%= render 'layouts/flash_messages'%>
	</div>
</div>

<div class="row">

	<div class="span8 offset2">


	<!--tab starts here-->
			<div class="well">

			<div class="tabbable">


			<ul class="nav nav-tabs">
			

  			<li class="active"><a href="#Profile" data-toggle="pill" ><i class="icon-cog"></i> Profile</a></li>

			<li><a href="#Heretomeet" data-toggle="pill" ><i class="icon-briefcase"></i> Here to meet</a></li>
			
			<li><a href="#adduser" disabled='true' data-toggle="pill"><i class="icon-plus-sign"></i> Add user</a></li>
  			
  
			</ul>
				
			
			
			<div class="tab-content">

				<!-- Change organization form -->
				<div class="tab-pane active" id="Profile">
					<%= form_for current_user, :url => update_organisation_path,
						:class => "form-inline" do |f| %>
	 				    <div class="control-group">
	   					 <label class="control-label" for="inputEmail">Edit Organization name</label>
	   					 <div class="controls">
	   					 <%= f.text_field :organisation_name %>
						 <button type="submit" class="btn">Save</button>
	    					 </div>
	    				   </div>
    				 <% end %>
    			<!-- Change password form -->		 
    			<%= form_for current_user, :url => change_password_path, :method => 'put'  do |f| %>

	   				<div class="control-group">
	    				<label class="control-label" for="inputPassword">Old Password</label>
	    				<div class="controls">
							<%= f.password_field :current_password%>
	   				 	</div>
	    			</div>

					<div class="control-group">
	    				<label class="control-label" for="inputPassword">New Password</label>
	    				<div class="controls">
	   				 		<%= f.password_field :password %>
							<button type="submit" class="btn">Change Password</button>
	   				 	</div>
	    			</div>

	    		<% end %>

	    		<!-- change location form -->
	    		<%= form_for current_user, :url => update_location_path, :class => 'form-horizontal'  do |f| %>
					<div class="control-group">
	    				<label class="control-label" for="inputPassword">Edit Location and Zip code</label>
	    				<div class="controls">
	   				 		<%= f.text_field :location %>
	   						 <%= f.text_field :zip_code, :style => "width:50px" %>
							<button type="submit" class="btn">Save</button>
	   				 	</div>
	    			</div>
    			<% end %>

				</div> <!-- end profile-->



				<div class="tab-pane" id="Heretomeet">
				
			
				
				<%= form_tag excel_import_path, :url => me_update_path, :class => 'form-inline', :multipart => true  do  %>
				
					<div class="control-group">
   					 <label class="control-label" for="inputEmail">Use this <a href="34pass-heretomeet.xlsx">template</a> to enter your employee or staff details</label>
   					 <div class="controls">
   					 <input type="text" id="filename" placeholder="">
					 <a href='#' class="btn" id="browse-btn">Browse</a>
					 <%= file_field_tag :excel_file, :class => "btn fileinput", :style => "position:absolute; top:-100px;" %> 
					<button type="submit" class="btn">Upload</button>
    					 </div>
    				 	</div>

			
				<% end %>
				
				
		
				</div> <!-- end here to meet-->

			<div class="tab-pane" id="adduser">
				 <form class="form-inline">
					<div class="control-group">

					<div class="controls">
					
   					 <input type="text" id="inputEmail" placeholder="Email address">
					 <button type="submit" class="btn"> Add user</button>
					
    					 </div>
    				 	</div>
				</form>
				
			</div>
	
	</div> <!--end tab content-->
	
	</div>
	</div> <!-- end span 8-->

</div> <!-- end row for tabbable-->

<style type="text/css">
	input[type=text], form {
		margin-bottom: 0px;
	}

	button[type=submit] {
		margin-top: -5px;
	}
</style>

<script type="text/javascript">
	$('#browse-btn').click(function(e) {
		e.preventDefault();
		$('.fileinput').trigger('click');
	});

	$(".fileinput").change(function (){
		//alert(this.val());
		$('#filename').val($('.fileinput').val());
	});
</script>
