<!DOCTYPE html>
<html>
	<head>
		<title> Visitor Management | Online Visitor Management | Visitor Management System</title>
		
		<meta name="description" content="Visitor pass management – 34pass is Online Visitor Management system designed to better manage your person visits. The effectiveness of this visitor management software enables to manage visitors with ease.">

		<meta name="keywords" content="online visitor management, visitor management, visitor pass, visitor pass management, visitor badge, visitor management system">
		<%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
		<%= stylesheet_link_tag    "style", :media => "all" %>
		<%= stylesheet_link_tag "fixcss" %>

		<%#= javascript_include_tag "jquery-2.0.0.min" %>
		<%#= javascript_include_tag "bootstrap.min" %>
		<%= javascript_include_tag "application" %>

  		
	  	<%= javascript_include_tag 'webcam' %>
	  	<%= javascript_include_tag "custom" %>

	  	<%= csrf_meta_tags %>
	  	
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		
		<div class="row" style="background:#365A7D;">

<div class="span6 pull-right"  style="margin-top:10px;">

<a href="/me" style="margin-left:100px; color:white"><i class="icon-wrench icon-white"> </i> Account</a>

<%= link_to "Logout", destroy_user_session_path, :style => "margin-left:30px; color:white",
	:method => :delete %>

</div>
</div>

<div class="row" style="background:#365A7D ">

	
	<div class="span16 offset2" >

		<ul class="nav nav-pills" style="margin-top:20px; margin-bottom: 10px">
			<li class=<%= "active" if request.original_url == "" ||
										request.original_url.match(/visitors\/new/)  %>
				>
				<%= link_to "Check in + Out", new_visitor_path %></li>
			<li><a href="#" style="margin-left:20px;"> Schedule appointment</a></li>

			<li class=<%= "active" if request.original_url.match(/dashboard/) %> >
				<a href="/dashboard" style="margin-left:20px">Dashboard</a>
			</li>
		

	<!-- search compnents goes here -->

  	 		<li> 
    		 <%= form_tag visitor_search_path, :class => "offset2" do %>
  
			<%= select_tag 'search_keyword', options_for_select( [ 
                                                                    ["Visitor name", "visitor_name"],
                                                                    ["Here to meet", "here_to_meet"],
                                                                    ["Visitor Organization", "visitor_company_name"],
                                                                    ["Mobile number", "visitor_mobile_number"]
                                                                    ]), class: "span2" %>

			

			</li>
			<li>
				<%= text_field_tag 'search_key', "", {:class => "span4", :placeholder => "jump to visitor specific information", :style => "margin-left:20px;"} %>
			</li>
    			<li>
    				<button type="submit" class="btn btn-medium btn-success" style="margin-left:20px;" ><i class="icon-search icon-white"> </i> Search</button></li>
			 </li>
			<% end %>
		</ul>



	</div>


</div>
	    
	    		<%#= render partial: "layouts/flash_messages", flash: flash %>
	    		<%= yield %>
	</body>
</html>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-41638664-1', '34pass.com');
	ga('send', 'pageview');
</script>

