<!DOCTYPE html>
<html>
	<head>
		<title>Visitor Management</title>
		
		<%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
		<%= stylesheet_link_tag    "custom", :media => "all" %>
		<%= stylesheet_link_tag "webfontkit-20130104-144010/stylesheet", :media => "all" %>
		
  		<%= javascript_include_tag "application" %>
	  	<%= javascript_include_tag 'webcam' %>
	  	<%= javascript_include_tag "custom" %>
	  	<%= csrf_meta_tags %>
	  	
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--BODY PAGE-->
		<div class="body-sub">
			<!--SECTION : HEADER-->
			<div id="cabin-header" class="sub">
				<div class="shadow">
					<div class="row-fluid">
						<div class="span2" id="logo2">
							<%= image_tag "logo-main.png" %>
						</div>
						<div class="span10 sub" id="break-line">

							<div class="pull-right top-tool">
								<!--Account name-->
								<div class="account-name pull-left">
									<div class="dropdown">
										<a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">tranducluong@gmail.com <b class="caret"></b></a>
										<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
											<li><a tabindex="-1" href="<%= me_index_path %>">Edit Information</a></li>
											<li>
												<%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :tabindex => -1 %>
											</li>
										</ul>
									</div>
								</div>

								<!--Quick Search-->
								<div class="quick-search pull-right">
									<div class="input-prepend">
										<%= form_tag visitor_search_path do %>
										<div class="btn-group">
											<button class="btn place">Action</button>
											<button class="btn dropdown-toggle" data-toggle="dropdown">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a href="#">Name</a></li>
												<li><a href="#">Pass ID</a></li>
												<li><a href="#">My Pass ID</a></li>
											</ul>
										</div>
										<%= text_field_tag 'search_key' %>
										<%= submit_tag 'Search', :class => 'lup' %>
										
										<% end %>
									</div>
								</div>
							</div>

							<div class="menuroot">
								<ul class="nav nav-tabs">
									<li class="<%= (params[:controller] == "visitors" && params[:action] == "new") ? "active" : "" %>">
										<%= link_to "Check In", new_visitor_path %>
									</li>
									<li class="<%= (params[:controller] == "visitors" && params[:action] == "checkout") ? "active" : "" %>">
										<%= link_to "Checkout", visitor_checkout_path %>
									</li>
									<li class="<%= (params[:controller] == "visitors" && params[:action] == "twelve_plus") ? "active" : "" %>">
										<%= link_to "12+", twelve_plus_path %>
									</li>
									<li class="<%= (params[:controller] == "dashboard") ? "active" : "" %>">
										<%= link_to "Dashboard", dashboard_index_path %>
									</li>
									<li class="<%= (params[:controller] == "me") ? "active" : "" %>">
										<%= link_to "My Account", me_index_path %>
									</li>
									<li class="<%= (params[:controller] == "visitors" && params[:action] == "search") ? "active" : "" %>">
										<%= link_to "Search Visitor", visitor_search_path %>
										
									</li>
									<li>
										<a href="#">Upgrade</a>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div id="cabin-body">
				<div class="body-bg">
					<%= yield %>
				</div>
			</div>
			<div id="cabin-footer" class="clearfix like-table text-shadow-white">
				<div id="appname" class="pull-left">
					<a href="#">
						<%= image_tag "icon-nameapp.png", :class => "img" %>
					</a>
					<small>OneGate Visitor Manager Application</small>
				</div>
				<div id="copyright" class="pull-left">
					<small>Copyright 2012 by <strong>Sixteencolumns.com</strong></small>
				</div>
			</div>
		</div>
	</body>
</html>

